*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: bisque;
}

.body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.Menu{
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo{
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: 5px;
}

.Menu h1{
    margin-top: 35px;
    font-size: 30px;
    text-shadow: 1px 1px 2px;
    font-family: 'Times New Roman', Times, serif;
}

.inicio{
    margin-top: 35px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 2px;
}

.cardapio{
    margin-top: 35px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 2px;
}

.sobre{
    margin-top: 35px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 2px;
}

.login {
    background-color: bisque;
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
    text-align: center;
}

.login h2 {
    font-size: 30px;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group label {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.input-group input {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    background-color: gray;
    color: white;
    font-size: 16px;
}

.input-group input::placeholder {
    color: #ddd;
}

.botoes-inferiores {
    margin-top: 150px;
    text-align: center;
}

.voltar {
    background-color: #807878;
    color: black;
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
